<div class="container-fluid">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-10">
            <h3>Wod Notes - Consignez et suivez facilement vos résultats et votre progression en Crossfit</h3>
            <ul>
                <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora laborum repellendus velit obcaecati cumque blanditiis voluptate ratione doloremque mollitia aperiam, nisi nesciunt eveniet exercitationem temporibus dolor iure labore? Eaque, deserunt!</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia voluptatibus, ipsum deleniti excepturi, voluptatum nisi itaque nostrum repellat eveniet cumque fugit incidunt hic vitae ab debitis, odio at id neque.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque incidunt perspiciatis, harum iste quam commodi tenetur officiis doloremque laudantium assumenda aspernatur laboriosam quasi. Minus hic architecto suscipit quia. Perferendis, accusamus!</li>
            </ul>
        </div>
        <div class="col">
        </div>
    </div>
</div>