.logoHP {
    width: 35px;
    padding-right: 10px;
}

a {
    color: white;
}

a :hover {
    color: #F5528A;
}

nav {
    background-color: #232226;
    z-index: 3;
}

footer p {
    text-align: center;
    background-color: #232226;
    color: white;
    padding: 10px 0px;
}
